00 02 * * * ~/kubernetes/demo-env-scripts/04-deploy-normal-load.sh
30 02 * * * ~/kubernetes/demo-env-scripts/01-deploy-broken-payments.sh -a <API-TOKEN>
00 03 * * * ~/kubernetes/demo-env-scripts/02-deploy-working-payments.sh -a <API-TOKEN>
15 03 * * * ~/kubernetes/demo-env-scripts/03-deploy-high-load.sh
00 04 * * * ~/kubernetes/demo-env-scripts/04-deploy-normal-load.sh
30 10 * * * ~/kubernetes/demo-env-scripts/01-deploy-broken-payments.sh -a <API-TOKEN>
00 11 * * * ~/kubernetes/demo-env-scripts/02-deploy-working-payments.sh -a <API-TOKEN>
15 11 * * * ~/kubernetes/demo-env-scripts/03-deploy-high-load.sh
00 12 * * * ~/kubernetes/demo-env-scripts/04-deploy-normal-load.sh
